<div fxLayout="row">
    <div class="form">
        <mat-form-field class="full-width" appearance="outline">
            <p>Interno:</p>
            <div class="checkboxGroup">
                <mat-checkbox class="custom-checkbox" value="opcion1">Exportar maestros</mat-checkbox>
            </div>
        </mat-form-field>
        <br>
        <mat-form-field class="full-width" appearance="outline">
            <p>Logística de Salida:</p>
            <div class="checkboxGroup">
                <mat-checkbox class="custom-checkbox" value="opcion1">Ordenes de Compra</mat-checkbox>
                <mat-checkbox class="custom-checkbox" value="opcion2">Pedidos</mat-checkbox>
            </div>
        </mat-form-field>
    </div>
</div>
<div class="buttonGroup">
    <button class="button" mat-raised-button color="primary">Procesar</button>
    <button class="button" mat-raised-button color="primary">Cancelar</button>
</div>