<mat-card>
    <mat-card-content>
        <div class="header">
            <img width="100px" src="../../assets/images/lindcorp-logo.jpg" />
            <h2>MAIN</h2>
        </div>
        <!--tabs-->
        <mat-tab-group>
            <mat-tab label="Maestros">
                <!--<app-maestros></app-maestros>-->
            </mat-tab>
            <mat-tab label="OC-Directiva">
                <app-oc-directiva></app-oc-directiva>
            </mat-tab>
        </mat-tab-group>

    </mat-card-content>
</mat-card>