<mat-card>
    <mat-card-content>
      <div class="header">
          <img width="100px" src="../../assets/images/lindcorp-logo.jpg" />
          <h2>MAIN</h2>
      </div>
      <form >
        <div class="xxx">
          <mat-form-field class="full-width" appearance="outline">
            <mat-label>XXX</mat-label>
            <input
              formControlName="xxx"
              matInput
              placeholder="Ingresa xxx" required
            />
          </mat-form-field>
        </div>
        <button mat-flat-button color="primary">Action</button>
      </form>
    </mat-card-content>
  </mat-card>